/* --------------------------------
   calculator
-------------------------------- */

$gutter: 30px;

.calculator
{
	line-height: 1;
	font-weight: 500;
	color: $white-color;

	.textfield { font-weight: 500; }

	&-select
	{
		position: absolute;
		top: 8px;
		right: 10px;
		background: 0 transparent;
		padding-right: 30px;

		font-size: rem-calc(16px);
		color: #333;

		&:after
		{
			border-bottom: 2px solid #5e5e5e;
			border-right: 2px solid #5e5e5e;
			right: 10px;
			width: 7px;
			height: 7px;
			margin-top: -6px;
		}

		.list { width: 100%; }
	}

	.__desc
	{
		display: inline-block;
		margin-top: 15px;
	}
}

@include min-screen($sm-width)
{
	
}

@include min-screen($md-width)
{
	
}

@include min-screen($lg-width)
{
	
}

@include min-screen($xl-width)
{
	
}