/* --------------------------------
   company contacts
-------------------------------- */

$gutter: 30px;

.company-contacts
{
	margin-top: $gutter;
	margin-bottom: $gutter;
	font-size: rem-calc(20px);
	color: $white-color;

	.__inner { margin-bottom: -$gutter; }

	.__item
	{
		display: inline-block;
		vertical-align: top;
		margin-bottom: $gutter;
	}

	a
	{
		text-decoration: none;
		color: inherit;
	}
}

@include min-screen($sm-width)
{
	.company-contacts
	{
		.__item { text-align: left; }
	}
}

@include min-screen($md-width)
{
	
}

@include min-screen($lg-width)
{
	
}

@include min-screen($xl-width)
{
	
}