/* --------------------------------
   content
-------------------------------- */

.content-container
{
	hr
	{
		margin-top: 60px;
		margin-bottom: 60px;
		border: none;
		border-top: 1px solid #e9e9e9;

		&:first-child { margin-top: 0 !important; }
		&:last-child  { margin-bottom: 0 !important; }
	}

	ol,
	ul
	{
		line-height: 1.2;
		margin-top: 25px;
		margin-bottom: 25px;

		&:first-child { margin-top: 0 !important; }
		&:last-child  { margin-bottom: 0 !important; }

		li
		{
			margin-top: 5px;
			padding-left: 15px;

			&:before
			{
				float: left;
				margin-left: -15px;
				margin-right: 5px;
			}

			&:first-child { margin-top: 0; }
		}
	}

	ol
	{
		counter-reset: num;

		li
		{
			&:before
			{
				counter-increment: num;
				content: counter(num) ".";
			}
		}
	}

	ul
	{
		li
		{
			&:before
			{
				// display: inline-block;
				// vertical-align: top;
				content: "- ";
			}
		}
	}










	// .caption
	// {
	// 	margin-top: 30px;
	// 	margin-bottom: 30px;
	// 	color: #333;

	// 	&:first-child { margin-top: 0; }
	// 	&:last-child  { margin-bottom: 0; }

	// 	.__title
	// 	{
	// 		line-height: 1;
	// 		font-size: rem-calc(18px);
	// 		font-weight: 600;
	// 		letter-spacing: 2px;
	// 		text-transform: uppercase;
	// 		color: #010101;
	// 		margin-bottom: 15px;
	// 	}
	// }

	// .subtitle
	// {
	// 	font-size: rem-calc(16px);
	// 	font-weight: 600;
	// 	color: #666;
	// 	margin-bottom: 20px;
	// }
}

@include min-screen(400px)
{
	.content-container
	{
		.page-title
		{
			// .__title { font-size: rem-calc(43px); }
		}
	}
}

@include min-screen($sm-width)
{
	.content-container
	{
		.page-title
		{
			// .__title { font-size: rem-calc(48px); }
		}
	}
}

@include min-screen($md-width)
{
	
}

@include min-screen($lg-width)
{
	
}

@include min-screen($xl-width)
{
}